.btn-group-justified
{
  padding-top: 80px;
}
.btn
{
  background: white;
  color:#9b7c43;
}

.btn:hover
{
  background:#9b7c43;
  color: black;
}
.jumbotron
{
  padding-top: 5px !important;
  background: white;
}
.img-fluid
{
  width: 50% !important;
  height: 40% !important;
  margin-bottom: 10px;
}
h1
{
  margin-top: 0;
  padding-top: 0;
  font-family: 'Verdana';
  font-variant: small-caps;
  color: #9b7c43;
}
.nazwa
{
  font-family: 'Century Gothic';
  font-weight: normal;
  color: #444444;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  word-spacing: 6px;
}
.cena
{
  float: right;
  font-size: 15px;
  font-family: 'Century Gothic';
}
.opis
{
  font-style: italic;
}
